.custom-container {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

.custom-group {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.custom-blue {
    border: 2px solid #007bff;  /* Azul */
    background-color: #e3f2fd;
}

.custom-green {
    border: 2px solid #28a745;  /* Verde */
    background-color: #e9f7ef;
}

.custom-yellow {
    background-color: #fff3cd;
    padding: 10px;
    border-radius: 5px;
}
